#VRML_SIM R2025a utf8
{% if license %}
# license: {{ license }}
{% endif %}
{% if doc_url %}
# documentation url: {{ doc_url }}
{% endif %}
{% if description %}
{% for line in description.splitlines() %}
{% if loop.first %}
# description: {{ line }}
{% else %}
# {{ line }}
{% endif %}
{% endfor %}
{% endif %}
# template language: javascript
PROTO {{ proto_name }} [
  field SFVec3f    translation 0 0 0
  field SFRotation rotation    0 0 1 0
  field SFString   name        "{{ proto_name }}"
{% if node_type == 'Robot' %}
  field SFString   controller  "{{ proto_name }}_controller"
  field MFString   controllerArgs []
  field SFString   customData  ""
  field SFBool     supervisor  FALSE
  field SFBool     synchronization TRUE
  field SFBool     selfCollision   FALSE
{% endif %}
  field SFBool     staticBase  TRUE
]
{
{{ root_solid }}
}
