{% import "macros.j2" as m %}
SliderJoint {
  jointParameters JointParameters {
    axis {{ m.vec3(joint.axis) }}
    minStop {{ joint.min_stop }}
    maxStop {{ joint.max_stop }}
  }
  device [
    LinearMotor {
      name "{{ joint.name }}_motor"
    }
  ]
  endPoint {{ child_solid }}
}
