{% import "macros.j2" as m %}
HingeJoint {
  jointParameters HingeJointParameters {
    anchor {{ m.vec3(joint.anchor) }}
    axis {{ m.vec3(joint.axis) }}
    minStop {{ joint.min_stop }}
    maxStop {{ joint.max_stop }}
  }
  endPoint {{ child_solid }}
}
