{% import "macros.j2" as m %}
HingeJoint {
  jointParameters HingeJointParameters {
    anchor {{ m.vec3(joint.anchor) }}
    axis {{ m.vec3(joint.axis) }}
    minStop {{ joint.min_stop_rot }}
    maxStop {{ joint.max_stop_rot }}
  }
  device [
    RotationalMotor {
      name "{{ joint.name }}_rot_motor"
    }
  ]
  endPoint Solid {
    name "{{ joint.name }}_dummy"
    physics Physics {
      density -1
      mass 0.0001
    }
    children [
      SliderJoint {
        jointParameters JointParameters {
          axis {{ m.vec3(joint.axis) }}
          minStop {{ joint.min_stop_trans }}
          maxStop {{ joint.max_stop_trans }}
        }
        device [
          LinearMotor {
            name "{{ joint.name }}_trans_motor"
          }
        ]
        endPoint {{ child_solid }}
      }
    ]
  }
}
