{% import "macros.j2" as m %}
SliderJoint {
  jointParameters JointParameters {
    axis {{ m.vec3(joint.axis) }}
    minStop {{ joint.min_stop }}
    maxStop {{ joint.max_stop }}
  }
  endPoint {{ child_solid }}
}
